<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="teleterm.css" type="text/css" />
    </head>
    <body>
        <h1>{{title}}</h1>
        <section id="app"></section>
        <script type="module">
            import init from "./teleterm_web.js";
            init();
        </script>
    </body>
</html>
