.list td, .list th {
    margin: 0;
    padding-left: 8px;
    padding-right: 8px;
}

.grid {
    font-family: monospace;
    background-color: black;
    color: #d3d3d3;
    border-collapse: collapse;
    border: 4px solid black;
}

.grid .row .cell {
    min-width: 1ch;
    max-width: 1ch;
    min-height: 1ex;
    padding: 0px;
}
